.App {
  position: center;
  size: cover;

  display: block;
  height: 500px;
  position: absolute;
  top: 50%;
  margin-top: -300px; /* 50% of your actual height */
  display: flex;
  min-height: 100vh;
}

.Taskbar {
  position: fixed;
  bottom: 0;
}