.body {
    background-image: url(../../Res/img/Wallpaper.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: block;
    height: 500px;
    position: absolute;
    top: 50%;
    margin-top: -250px; /* 50% of your actual height */
}